/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  padding-left: 10px;
}
#navbar {
  background-color: #CC333F;

}

.logo{
  border-bottom-right-radius: 50%;
  /*border-top-left-radius: 50%;*/
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.obj li{
    list-style-type: disc;
}
.obj{
  padding-left: 50px;
}

.obj1 li{
  list-style-type: none;
  font-style: italic;
}

.obj1{
  padding-left: 30px;
}


.center-span-img{
  max-width: 300px;
  max-height: 200px;
  position: relative;
  padding-top: 10px;
  margin: 0 auto;
}

.center-span-img img{
  position: relative;
}

.center-span-img h4{
  position: absolute;
  top: 100px;
  width: 220px;
  color: white;
  font-weight: bold;
  padding: 20px;
  background-color: #EDC951;
  transition: background-color 1.5s ease, width .5s;
  -webkit-transition: background-color 1.5s ease, width .5s;
  /*transition: width 2s;
  -webkit-transition: width 2s;
  -moz-transition: width 2s;*/
}

.center-span-img h4:hover{
  background-color: #f57f17;
  width: 285px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

#index-banner {
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


#block{
  background-color: #f0f2f1;
}

#block h4{
  font-family: Verdana;
  color: #CC333F;
}

#event-block{
  border-radius: 100%;
  margin-left: 10px;
  text-align: center;
  background-color: #CC333F;
  color: white;
}
.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
  background-color: #CC333F;
}

/*Gallery Page*/
#gallery-banner .parallax-container {
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-size: cover;
  min-height: 200px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

#thumb_{
  height: 50px;
}